/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(241, 241, 241);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(103, 242, 247);
}

body {
	/*background: linear-gradient(rgba(4, 9, 30, 0.90),rgba(4, 9, 30,0.90)),url("../images/backround.png");*/
	background: black;
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	display:flex;
	flex-direction: column;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav{
	display: flex;
	background:rgba(0, 0, 0, 0.50);
	padding: 0px 2%;
	height: 90px;
	justify-content: space-between;
}

nav img {
	height: 90px;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 20px 12px;
	position: relative;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

.nav-links ul li::after{
	content: '';
	width: 90%;
	height: 1.5px;
	background: rgba(255, 251, 0, 0.5);
	display: block;
	margin: auto;
	transition: 0.3s ease-in-out;
}

.nav-links ul li:hover::after{
	width: 100%;
	height: 2px;
	background: rgb(255, 251, 0);
}

#container {
	color:rgb(255, 255, 255);
	border-radius: 5px;
	padding: 1px 1%;
}

#container ul{
	background:rgba(53, 53, 53, 0.856);
	padding: 25px 25px;
	border-radius: 5px;
	height:auto;
	list-style-type: none;
  	overflow-y: none;
}


#container ul li{
	height:auto;
	margin: 0 0 10px 0;
	background:#8acaf7a4;
	padding:10px 15px;
	border-radius: 5px;
}

#container ul li p{
    text-align: left;
    padding: 5px 10px;
    margin-top: 0;
}

#container ul li a{
    padding: 5px 5px;
    font-size: 22px;
    color: rgb(0, 89, 255);
    text-decoration: none;
}

h1 {
	color: rgb(255, 255, 255);
	padding: 10px 0px;
	text-align: center;
	font-size: 300%;
	border-radius: 5px;
}

h2 {
	color: rgb(255, 255, 255);
	text-align: center;
}
p {
	text-align: center;
}

p img{
    height: 32px;
    padding: 2px 5px;
}

#end_of_site{
	position:absolute;
    bottom:0;
}